.left-container {
    .title-nav {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .choose-nav {
        width: 90%;
        .each-nav {
            cursor: pointer;
            height: 26px;
            line-height: 26px;
            margin: 4px 0;
            padding-left: 6px;
            display: flex;
            align-items: center;
            i {
                height: 18px;
                width: 18px;
            }
            span {
                font-size: 14px;
                padding-left: 6px;
            }
        }
        .active {
            background-color: #009a61;
            border-radius: 5px;
            color: #fff;
        }
        .each-nav:hover {
            background-color: #e8eeec;
            color: #009a61;
            border-radius: 5px;
        }
    }
}